body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #333;
}

.command-section {
    margin-top: 20px;
}

.command {
    margin-bottom: 20px;
    border-left: 4px solid #007BFF;
    padding-left: 15px;
}

h2 {
    font-size: 30px;
    color: #007BFF;
}

h3 {
    color: #333;
}

code {
    background: #eee;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}

p {
    color: #555;
}

.headline {
    font-size: 48px;
    text-align: center;
    color: #007BFF;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #007BFF;
    background: linear-gradient(to right, #007BFF, #00BFFF);
    color: #fff;
    border-radius: 8px;
}

.section {
    margin-top: 20px;
}

.subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.subtitle.ipv4 {
    color: darkorchid;
}

.subtitle.ipv6 {
    color: green;
}

.section p {
    color: #555;
    font-size: 16px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}