body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    background: black;
    margin-bottom: 20px;
    padding: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #333;
}

.command-section {
    margin-top: 20px;
    display: none;
}

.command {
    margin-bottom: 20px;
    border-left: 4px solid #007BFF;
    padding-left: 15px;
}

h2 {
    font-size: 30px;
    color: #007BFF;
}

h3 {
    color: #333;
    cursor: pointer;
}

code {
    background: #eee;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}

p {
    color: #555;
}

.headline {
    font-size: 48px;
    text-align: center;
    color: #007BFF;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #007BFF;
    background: linear-gradient(to right, #007BFF, #00BFFF);
    color: #fff;
    border-radius: 8px;
}

.section {
    margin-top: 20px;
}

.subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.collapsible-section {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.collapsible-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
}

.collapsible-content {
    display: none;
    padding: 15px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .collapsible-content {
        padding: 10px;
    }
}